<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Tapahtumatyypit</h2></div></div></div>
<div class="border">
<div id="buttonbar">
	<%= link_to 'Uusi tapahtumatyyppi', new_occasion_type_path, :class => 'button icon_add' if permitted_to? :manage, :occasion_types %>
</div>
<%= crumbs %>
  
<table style="width: 95%;">
  <thead>
  	<tr>
		<th>Tyyppi</th>
		<th>Näkyvyys</th>
		<th>&nbsp;</th>
	</tr>
  </thead>

<tbody>
<% for occasion_type in @occasion_types %>
  <tr class="<%= cycle("even", "odd") %>">
	<td><%= link_to occasion_type.name, occasion_type_path(:id => occasion_type) %></td>
	<td><%= occasion_type.getOptionsForSelectList(:visibility).index(occasion_type.visibility) %></td>
    <td><%= link_to 'Muokkaa', edit_occasion_type_path(:id => occasion_type), :class => 'icon icon_edit' if permitted_to? :manage, :occasion_types %>
    <%= link_to 'Poista', occasion_type_path(:id => occasion_type), :class => 'icon icon_delete', :confirm => 'Oletko varma?', :method => :delete if permitted_to? :manage, :occasion_types %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
</div>