<h2>Uusi tapahtumatyyppi</h2>

<% form_for :occasion_type, :url => occasion_types_path do |f| -%>
  <%= f.error_messages %>

<p><%= label_tag 'name', 'Tyyppi' %>
<%= f.text_field :name %></p>

<p><%= label_tag 'visiblity', 'Näkyvyys' %><br/>
<%= f.select :visibility, @occasion_type.getOptionsForSelectList(:visibility), options ={:prompt => ""} %></p>

  <p>
    <%= f.submit "Tallenna" %>
  </p>
<% end %>
