<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Kirjautuminen</h2></div></div></div>
<div class="border">

<% form_tag session_path do -%>

<p><%= label_tag 'login', 'Käyttäjätunnus' %>
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag 'password', 'Salasana' %>
<%= password_field_tag 'password', nil %></p>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->
<%= hidden_field_tag 'customer', @customer %>

<p><%= submit_tag 'Kirjaudu' %></p>
<% end -%>
</div>