  <%= f.error_messages %>

  <p>
    <%= f.label :first_name, 'Etunimi' %>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :surname, 'Sukunimi' %>
    <%= f.text_field :surname %>
  </p>
  <p>
    <%= f.label :email, 'Sähköposti' %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :address, 'Lähiosoite' %>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :postcode, 'Postinumero' %>
    <%= f.text_field :postcode %>
  </p>
  <p>
    <%= f.label :city, 'Postitoimipaikka' %>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :phone, 'Puhelinnumero' %>
    <%= f.text_field :phone %>
  </p>
