<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Editing configuration</h2></div></div></div>
<div class="border">

<% form_for( :configuration, :url => configuration_path(:id => @configuration), :html => {:method => :put}) do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :value %>
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', configuration_path(:id => @configuration) %> |
<%= link_to 'Back', configurations_path %>
</div>