
<style type="text/css">
   .headeri {
		border-color: #888888;
		border-style: solid;
		border-width: 1px;
		text-transform: lowercase;
	}
	.headeri2 {
		text-transform: uppercase;
	}
</style>

<p>
   <b>Tilavaraukset </b>   
   <table>
     <% kuu=%w[tammi helmi maalis huhti touko kes&auml; hein&auml; elo syys loka marras joulu] %>
     <% paiva=%w[su ma ti ke to pe la]; res={}; pvm=Array.new %>     	
	 <% tilat=Room.find(:all).sort{|a,b| a.name.upcase <=> b.name.upcase} %>
	 <tr><th class ="headeri headeri2"><%= kuu[Time.now.month-1]+"kuu" -%></th>
	 <% for b in @bookings.sort{ |a,b| a.start_time <=> b.start_time }  %>
	   <% for r in b.rooms %>
	     <% i=tilat.index(r) %>
	     <% varaukset= res[i] || Array.new; varaukset << b.start_time; res[i]=varaukset %>
	   <% end %>	 	   	   
	   <% paivays=b.start_time.month*31+b.start_time.day %>	   
       <% unless pvm.include?(paivays) %>
	     <% pvm << paivays %>
	     <th class="headeri" ><%= b.start_time.day.to_s+'.'+paiva[b.start_time.wday] -%></th>
	   <% end %> 	 	     	
	 <% end %>	 
	 </tr>	  	 
	 <% for tilanro in res.keys.sort %>
	   <tr><td> <%= tilat[tilanro].name -%> </td>
	   <% ajat=res[tilanro]; varaukset=res[tilanro].map{ |x| x.month*31+x.day } %>
	   <% for paivanro in pvm %>
	     <% if varaukset.include?(paivanro) %>
		   <% alku=ajat[varaukset.index(paivanro)] %>
	       <td style="background-color:LightPink"><%= alku.hour.to_s+":"+sprintf("%02d",alku.min) -%></td>
	     <% else %>  		   
	 	   <td style="background-color:RosyBrown "><%= "" -%></td>
	 	 <% end %>  
	   <% end %>
	   </tr>
     <% end %>	 
   </table>    
</p> 
<%= link_to 'Takaisin varauslistaan', bookings_path(:id => @booking) %>