<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Ulkoasut</h2></div></div></div>
<div class="border">

<div id="buttonbar">
	<%= link_to 'Uusi ulkoasu', new_ui_template_path, :class => 'button icon_add'  %>
</div>
<%= crumbs %>
<table>
  <tr>
    <th>Nimi</th>
  </tr>

<% @ui_templates.each do |ui_template| %>
  <tr>
    <td><%=h ui_template.name %></td>
    <td><%= link_to 'Muokkaa', edit_ui_template_path(:id => ui_template), :class => 'icon icon_edit' %></td>
    <td><%= link_to 'Poista', ui_template_path(:id => ui_template), :class => 'icon icon_delete', :confirm => 'Haluatko varmasti poistaa', :method => :delete %></td>
  </tr>
<% end %>
</table>

</div>