<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Yhdistyksen tietojen muokkaus</h2></div></div></div>
<div class="border">

  <%= crumbs %>

<% form_for :customer,
			:url => customer_path(:id => @customer),
			:html => {:method => :put } do |f| -%>
  <%= f.error_messages %>
  
  <p><%= f.label :name, 'Järjestelmän nimi' %>
    <% if current_user.user_level <= 5 %>
           <%= f.text_field :name %><br />
           <% else %>
	<%= @edit_customer.name %>
           <% end %>
  </p>
  <p><%= f.label :title, 'Yhdistyksen nimi' %>
    <%= f.text_field :title %>
  <p>
    <%= f.submit "Tallenna" %>
  </p>
<% end %>
</div>
