<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Yhdistyksen tietojen muokkaus</h2></div></div></div>
<div class="border">

<% form_for :edit_customer,
			:url => customer_path(:id => @edit_customer),
			:html => {:method => :put } do |f| -%>
  <%= f.error_messages %>
  
  <p><%= f.label :name, 'Nimi' %>
	<% if current_user.user_level <= 5 %>
		<%= f.text_field :name %><br /></p>
	<% else %>
		<%= @edit_customer.name %>
	<% end %>

  <p>
    <%= f.submit "Tallenna" %>
  </p>
<% end %>
</div>