<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Yhdistykset</h2></div></div></div>
<div class="border">

<div id="buttonbar">
	<%= link_to 'Uusi yhdistys', new_customer_path, :class => 'button icon_add' if permitted_to? :manage, :customers %>
</div>	

  <%= crumbs if permitted_to? :manage, :customers %>
  
<table style="width: 95%;">
  <thead>
  	<tr>
		<th>Järjestelmän nimi</th>
		<th>Yhdistyksen nimi</th>
		<th>&nbsp;</th>
	</tr>
  </thead>
<tbody>
<% for customer in @customers %>
  <tr>
  	<td><%= link_to customer.name, customer_path(:id => customer) %></td>
	<td><%= customer.title %></td>
    <td><%= link_to 'Muokkaa', edit_customer_path(:id => customer), :class => 'icon icon_edit' %>
    <%= link_to 'Poista', customer_path(:id => customer), :class => 'icon icon_delete', :confirm => 'Oletko varma?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
</div>
