<div class="table-header">
  <div class="table-header r">
    <div class="table-header m">
      <h2>Yhdistyksen tiedot: <%= @customer.name %></h2>
     </div>
   </div>
</div>

<div class="border">

<div id="buttonbar">
	<%= link_to 'Muokkaa tietoja', edit_customer_path(:id => @customer) %>
</div>

   <%= crumbs %>

  <div>
<p><label>Järjestelmän nimi</label> <%=@customer.name %></p>
<p><label>Yhdistyksen nimi</label> <%=@customer.title %></p>
</div>
</div>

