<li><%= link_to 'Sivut', pages_path, { :class => "icon icon_pages" } %></li>
<li><%= link_to 'Ulkoasut', layouts_path, { :class => "icon icon_themes" } %></li>
<li><%= link_to 'Kuvat', graphics_path, { :class => "icon icon_images" } %></li>
<li><%= link_to 'Tyylit', styles_path, { :class => "icon icon_styles" } %></li>
<li><%= link_to 'Valikko', menu_page_path, { :class => "icon icon_menu" } %></li>
