<li><%= link_to 'Sivut', pages_path %></li>
	<ul>
		<li><%= link_to 'Uusi sivu', new_page_path %></li>
	</ul>
<li><%= link_to 'Ulkoasut', layouts_path %></li>
	<ul>
		<li><%= link_to 'Uusi ulkoasu', new_layout_path %></li>
	</ul>
<li><%= link_to 'Kuvat', graphics_path %></li>
    <ul><li><%= link_to 'Uusi kuva', new_graphic_path %></li></ul>
<li><%= link_to 'Tyylit', styles_path %></li>
    <ul><li><%= link_to 'Uusi tyylitiedosto', new_style_path %></li></ul>
