<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Sivut</h2></div></div></div>
<div class="border">

<div id="buttonbar">
  <%= link_to 'Uusi sivu', new_page_path %>
</div>

<% form_tag :action => 'set_default' do %>

<table style="width: 90%">
  <tr>
    <th>Oletus</th>
    <th>Otsikko</th>
    <th>Tila</th>
    <th>Julkinen</th>
    <th>Tekijä</th>
    <th colspan="4"></th>
  </tr>

<% for page in @pages %>
  <tr>
    <td><%=radio_button_tag :default_page, page.id, page.id == Configuration.get_one('default_page').to_i%></td>
    <td><%=h page.title %></td>
    <td><%=h page.state_str %></td>
    <td><%=h page.public == 0 ? 'Ei' : 'Kyllä' %></td>
    <td><%=h page.author_name%></td>
    <td><%= link_to 'Muokkaa', edit_page_path(:id => page) %></td>
    <td><%= link_to 'Historia', :action => 'versions', :id => page %></td>
    <td><%= link_to 'Poista', page_path(:id => page), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= submit_tag "Tallenna" %>
<% end %>
<br />

</div>
