<div class="table-header">
	<div class="table-header r">
		<div class="table-header m">
			<h2>Sivut</h2>
		</div>
	</div>
</div>

<div class="border">

	<div id="buttonbar">
	  <%= link_to 'Uusi sivu', new_page_path, { :class => "button icon_add" } %>
	</div>
	
	<table style="width: 95%;">
		<tr>
		  <th>Nimi</th>
		  <th>Tila</th>
		  <th>Julkinen</th>
		  <th>Tekijä</th>
		  <th colspan="4"></th>
		</tr>
	
		<% for page in @pages %>
		  <tr class="<%= cycle("even", "odd") %>">
		    <td><%=h page.name %></td>
		    <td><%=h page.state_str %></td>
		    <td><%=h page.public == 0 ? 'Ei' : 'Kyllä' %></td>
		    <td><%=h page.author_name%></td>
		    <td><%= link_to 'Muokkaa', edit_page_path(:id => page), :class => "icon icon_edit" %></td>
		    <td><%= link_to 'Historia', { :action => 'versions', :id => page }, { :class => "icon icon_history" } %></td>
		    <td><%= link_to 'Poista', page_path(:id => page), :class => "icon icon_delete", :confirm => 'Oletko varma?', :method => :delete %></td>
		  </tr>
		<% end %>
	</table>
	
	<br />

</div>
