<h2> Versiohistoria - <%=@page.title %> </h2>
<table style="width: 90%">
  <tr>
    <th>#</th>
    <th>Tekijä</th>
    <th>Muokattu</th>
    <th>Tila</th>
    <th colspan="3"></th>
  </tr>
<% @versions.each do |page| %>
<tr>
  <td><%=h page.version%></td>
  <td><%=h Page.author_name(page.author_id)%></td>
  <td><%=h page.updated_at%></td>
  <td><%=h Page.states[page.state]%></td>
  <td><%=link_to "Näytä muutokset", :action => 'diff', :version => page.version, :id => @page %></td>
</tr>
<% end %>
</table>
