<li><%= link_to 'Tapahtumakalenteri', occasions_path %></li>
	<ul>
		<li><%= link_to 'Listan채kym채', occasions_path(:view => 'list') %></li>
		<li><%= link_to 'Kalenterin채kym채', occasions_path %></li>
	</ul>
<li><%= link_to 'Paikat', locations_path %></li>
<li><%= link_to 'Tapahtumatyypit', occasion_types_path %></li>
