  <%= crumbs %>

<script language="Javascript">
  var form = $('bulk_change');

  function select_all() {
    checkboxes = form.getInputs('checkbox');
    if (checkboxes[1].checked) {
      checkboxes.each(function(e){ e.checked = 0 });
    }
    else{
      checkboxes.each(function(e){ e.checked = 1 });
    }
  }
  
</script>

<table class="occasion_list">
  <thead>
  	<tr>
  	<th><%= check_box_tag("select_all", "", false, :id => "select_all") %>
        <%= observe_field("select_all", :frequency => 1, :function => "select_all()") %>
        </th>
       <th>Päiväys</th>
       <th>Klo</th>
       <th>Tapahtuma</th>
       <th>Tyyppi</th>
       <th>Paikka</th>
       <th>Tila</th>
	   <th>&nbsp;</th>
	</tr>	   
  </thead>
<tbody>	
<% for occasion in @occasions %>
  <tr class="<%= cycle("even", "odd") %>">
	<td><%= check_box_tag("ids[]", occasion.id, false, :id => nil) %></td>
  	<td><%= occasion.start_date_only_str %></td>
	<td><%= occasion.start_time_only_str %></td>	
	<td><%= link_to occasion.name, edit_occasion_path(:id => occasion,:view => 'list', :start_date => occasion.start_time) %></td>
    <td><% if occasion.occasion_type %><%= occasion.occasion_type.name %><% end %></td>
    <td><% if occasion.location %><%= link_to occasion.location.name, location_path(:id => occasion.location, :view => 'list', :start_date => occasion.start_time) %><% end %></td>
	<td><%= occasion.getOptionsForSelectList(:state).index(occasion.state) %></td>
    <td><%= link_to 'Poista', occasion_path(:id => occasion, :view => 'list'), :class => 'icon icon_delete' , :confirm => 'Oletko varma?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>