  <%= crumbs %>

<script language="Javascript">
  var form = $('bulk_change');

  function select_all() {
    checkboxes = form.getInputs('checkbox');
    if (checkboxes[1].checked) {
      checkboxes.each(function(e){ e.checked = 0 });
    }
    else{
      checkboxes.each(function(e){ e.checked = 1 });
    }
  }
  
  //conflict aware jQuery code for occasion type client side filtering
  jQuery(document).ready(function($) {
      
    // set default value
    var occasionDefaultType = "Tyyppi";
    $("#otype").val(occasionDefaultType);
<%
    require 'set'
	typeset = [].to_set
  	for occasion in @occasions 
  		if occasion.occasion_type
			typeset.add(occasion.occasion_type.name) 
		end
	end
%>	
    // sweet
    $("#otype").autocomplete(
		<%='{source: ["' + typeset.to_a().join('","') + '"]}'%>
	);
    
    /*
    // remove the default value
    $("#otype").focus(function(){
      if($(this).val() == occasionDefaultType){
        $(this).val("");
      }
    });
    */
    
    var isOutFocused = true;
    
    //show input 
    $("#occasion_type_header").parent().click(function(){
      if(isOutFocused) {
	  	$("#occasion_type_header").hide();
	  	$("#otype").show().focus();
	  	if ($("#otype").val() === occasionDefaultType || isOutFocused) {
	  		$("#otype").select();
	  	}
	  	isOutFocused = false;
	  }
    });
    
    //show header 
    $("#otype").focusout(function(){
      if($(this).val() !== occasionDefaultType)
        $("#occasion_type_filter").html($(this).val());
      $(this).hide();
      $("#occasion_type_header").show();
      isOutFocused = true;
    });

    var keyCode = null;
    
    //some optimizations :)    
    var fastIgnoreCaseList = [];
    $.each($(".occasion_type"), function(){
      fastIgnoreCaseList.push({row:$(this).parent(), text:$(this).text().toLowerCase()});
    });
    
    //filtering rows
    $("#otype").keyup(function(e){
      // check if enter key was pressed
      keyCode = (e.keyCode ? e.keyCode : e.which);
      if (keyCode == 13 || keyCode == 10) {
        $("#otype").focusout().autocomplete("close");
      } else {
        var otypefilter = $(this).val().toLowerCase();
        $.each(fastIgnoreCaseList, function(){
          if(this.text.match(otypefilter))
            this.row.show();
          else
            this.row.hide();
        });
        //$(".occasion_type:contains('" + otfilter + "')").parent().show();
        //$(".occasion_type").not(":contains('" + otfilter + "')").parent().hide();
      }
    });
    
  });
  
</script>

<table class="occasion_list">
  <thead>
  	<tr>
        <% if permitted_to? :manage, :occasions %>
  	<th><%= check_box_tag("select_all", "", false, :id => "select_all") %>
        <%= observe_field("select_all", :frequency => 1, :function => "select_all()") %>
        </th>
        <% end %>
       <th>Päiväys</th>
       <th>Klo</th>
       <th>Tapahtuma</th>
       <th style="cursor: pointer">
       	 <span id="occasion_type_header">Tyyppi 
		   <span id="occasion_type_filter" style="font-style: italic; font-size: 9px; font-weight: bold; text-decoration: underline; text-transform: none;">(suodata)</span>
		 </span>
	     <input id="otype" type="text" value="Tyyppi" style="display:none" size="15" />
       </th>
       <th>Aihe</th>
       <th>Paikka</th>
       <th>Tila</th>
	   <th>&nbsp;</th>
	</tr>	   
  </thead>
<tbody>	
<% for occasion in @occasions %>
  <tr class="<%= cycle("even", "odd") %>">
	<% if permitted_to? :manage, :occasions %>
          <td><%= check_box_tag("ids[]", occasion.id, false, :id => nil) %></td>
        <% end %>
  	<td><%= occasion.start_date_only_str %></td>
	<td><%= occasion.start_time_only_str %></td>
        <% if permitted_to? :manage, :occasions %>
          <td><%= link_to occasion.name, edit_occasion_path(:id => occasion,:view => 'list', :start_date => occasion.start_time) %></td>
        <% else %>
          <td><%= link_to occasion.name, occasion_path(:id => occasion,:view => 'list', :start_date => occasion.start_time) %></td>
        <% end %>
    <td class="occasion_type"><% if occasion.occasion_type %><%= occasion.occasion_type.name %><% end %></td>
    <td><% if occasion.subject %><%= occasion.subject %><% end %></td>
    <td><% if occasion.location %><%= link_to occasion.location.name, location_path(:id => occasion.location, :view => 'list', :start_date => occasion.start_time) %><% end %></td>
	<td><%= occasion.getOptionsForSelectList(:state).index(occasion.state) %></td>
    <td><%= link_to 'Poista', occasion_path(:id => occasion, :view => 'list'), :class => 'icon icon_delete' , :confirm => 'Oletko varma?', :method => :delete if permitted_to? :manage, :occasions %></td>
  </tr>
<% end %>
</tbody>
</table>
