<table>
  <thead>
  	<tr>
       <th>Päiväys</th>
       <th>Klo</th>
       <th>Tapahtuma</th>
       <th>Tyyppi</th>
       <th>Paikka</th>
       <th>Tila</th>
	   <th>&nbsp;</th>
	</tr>	   
  </thead>
<tbody>	
<% for occasion in @occasions %>
  <tr>
  	<td><%= occasion.start_date_only_str %></td>
	<td><%= occasion.start_time_only_str %></td>	
	<td><%= link_to occasion.name, occasion_path(:id => occasion) %></td>
    <td><% if occasion.occasion_type %><%= occasion.occasion_type.name %><% end %></td>
    <td><% if occasion.location %><%= link_to Location.find( occasion.location ).name, :controller => 'occasions', :action => 'show', :id => occasion.location_id %><% end %></td>
	<td><%= occasion.getOptionsForSelectList(:state).index(occasion.state) %></td>
    <td><%= link_to 'Muokkaa', edit_occasion_path(:id => occasion) %>
    <%= link_to 'Poista', occasion_path(:id => occasion), :confirm => 'Oletko varma?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
