<table class="occasion_list">
  <thead>
  	<tr>
  	<th>&nbsp;</th>
       <th>Päiväys</th>
       <th>Klo</th>
       <th>Tapahtuma</th>
       <th>Tyyppi</th>
       <th>Paikka</th>
       <th>Tila</th>
	   <th>&nbsp;</th>
	</tr>	   
  </thead>
<tbody>	
<% for occasion in @occasions %>
  <tr class="<%= cycle("even", "odd") %>">
	<td><%= check_box_tag("ids[]", occasion.id, false, :id => nil) %></td>
  	<td><%= occasion.start_date_only_str %></td>
	<td><%= occasion.start_time_only_str %></td>	
	<td><%= link_to occasion.name, edit_occasion_path(:id => occasion,:view => 'list') %></td>
    <td><% if occasion.occasion_type %><%= occasion.occasion_type.name %><% end %></td>
    <td><% if occasion.location %><%= link_to occasion.location.name, location_path(:id => occasion.location ) %><% end %></td>
	<td><%= occasion.getOptionsForSelectList(:state).index(occasion.state) %></td>
    <td><%= link_to 'Poista', occasion_path(:id => occasion, :view => 'list'), :confirm => 'Oletko varma?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>