<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Tapahtumakalenteri
<%= h @occasion.monthname[@date.month.to_i - 1] + 'kuu ' + @date.year.to_s %>
</h2></div></div></div>
<div class="border">
<div id="buttonbar">
	<%= link_to '&laquo;&laquo;&nbsp;Edellinen kk', :controller => 'occasions', :action => 'calendar', :direction => 'back', :year => @date.year, :month => @date.month	 %>
	<%= link_to 'Seuraava kk&nbsp;&raquo;&raquo;',  :controller => 'occasions', :action => 'calendar', :direction => 'forward', :year => @date.year, :month => @date.month %>
</div>	

   <%= crumbs %>
  
<div id='occ_list'>
<%= render :partial => 'occasion_calendar' %>
</div>

<div id ='quick_create'>
	<%= render :partial => 'quick_create_calendar' %>
</div>
<br />
</div>