<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Tapahtumakalenteri
<%= h @occasion.monthname[@date.month.to_i - 1] + 'kuu ' + @date.year.to_s %>
</h2></div></div></div>
<div class="border">

<div id="buttonbar">
	<%= link_to 'Lisää tapahtuma', new_occasion_path(:view => "list") %>
	<%= link_to '< Edellinen kk <', :controller => 'occasions', :action => 'list', :direction => 'back', :year => @date.year, :month => @date.month	 %>
	<%= link_to '> Seuraava kk >',  :controller => 'occasions', :action => 'list', :direction => 'forward', :year => @date.year, :month => @date.month %>	
</div>	

<div id='occ_list'>
<%= render :partial => 'occasion' %>
</div>
<div id='bulk_change'>
	<%= render :partial => 'bulk_change' %>
</div>	
<br />
<div class="table-header"><div class="table-header r"><div class="table-header m">Uusi tapahtuma</div></div></div>
<div class="border">

<div id ='quick_create'>
	<%= render :partial => 'quick_create' %>
</div>
</div>
<br />

</div>
