<div id="buttonbar">
	<%= link_to '< Edellinen kk <', :controller => 'occasions', :action => 'list', :direction => 'back', :year => @date.year, :month => @date.month	 %>
	<%= link_to '> Seuraava kk >',  :controller => 'occasions', :action => 'list', :direction => 'forward', :year => @date.year, :month => @date.month %>	
	<%= link_to 'Uusi tapahtuma', new_occasion_path %>
</div>	
<h2>Tapahtumakalenteri
<% for occasion in @occasions %>
 - <%= h occasion.monthname[@date.month.to_i - 1] + 'kuu' %>
<% break %>
<% end %>
</h2>

<div id='occ_list'>
<%= render :partial => 'occasion' %>
</div>

<div id ='quick_create'>
	<%= render :partial => 'quick_create' %>
</div>
<br />