<table id="calendar-modified">
  <thead>
    <% unless @modified_occasions.blank? %>
    <tr><th colspan ="6">Muuttuneet tapahtumat</td></tr>
  </thead>
  <tbody>
  <% for modified_occasion in @modified_occasions %>
          <% if modified_occasion.state == 30 %>          
            <tr class="cancelled">
          <% else %>          
            <tr>
          <% end %>
          <td class="day"><%= t('date.abbr_day_names')[modified_occasion.start_time.wday] %></td>
          <td class="date"><%= localize modified_occasion.start_time, :format => :very_short %></td>
          <td class="time"><%= modified_occasion.start_time_only_str %></td>
          <td class="event"><%= modified_occasion.name %></td>
          <td class="locale"><% if modified_occasion.location %><%= modified_occasion.location.name %><% end %></td>
          <td class="info"><%= modified_occasion.public_info %></td>
        </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
