  <table class="occasion_list">
  <thead></thead>
  <tbody>
  <% prevMonth = ""%>
  <% for occasion in @occasions %>
    <% thisMonth = occasion.start_date_month_str %>
    <% if prevMonth.empty? || prevMonth < thisMonth %>
      <tr><td colspan ="5"><strong><%= t('date.month_names')[thisMonth.to_i] %></strong></td></tr>
    <% end %>
    <% prevMonth = occasion.start_date_month_str  %>

  <tr>
    <td><%= t('date.abbr_day_names')[occasion.start_time.wday] %></td>
    <td><%= localize occasion.start_time, :format => :very_short %></td>
    <td><%= occasion.start_time_only_str %></td>
    <td><%= occasion.name %></td>
    <td><% if occasion.location %><%= occasion.location.name %><% end %></td>
    <td><%= occasion.public_info %>
  </tr>
<% end %>
    </tbody>
</table>

