  <table id="calendar">
  <thead>
  <% prevWeek = ""%>
  <% for occasion in @occasions %>
    <% thisWeek = occasion.start_date_week_str %>
    <% if prevWeek.empty? || prevWeek < thisWeek %>
      <tr><th colspan ="6"><%= t 'public.week' %><%= "&nbsp;" + thisWeek.to_i.to_s %></th></tr>

    <% end %>
    <% prevWeek = occasion.start_date_week_str  %>
  </thead>
  <tbody>
  <tr>
    <td class="day"><%= t('date.abbr_day_names')[occasion.start_time.wday] %></td>
    <td class="date"><%= localize occasion.start_time, :format => :very_short %></td>
    <td class="time">
      <% unless occasion.start_time_only_str == "00:00" %>
        <%= occasion.start_time_only_str %>
      <% end %>
    </td>
    <td class="event"><%= occasion.name %></td>
    <td class="locale"><% if occasion.location %><%= occasion.location.name %><% end %></td>
    <td class="info"><%= occasion.public_info %></td>
  </tr>
<% end %>
    </tbody>
</table>