<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Uusi paikka</h2></div></div></div>
<div class="border">

<% form_for :location, :url => locations_path do |f| -%>
  <%= f.error_messages %>

<p><%= label_tag 'name', 'Paikan nimi' %>
<%= f.text_field :name %></p>

<p><%= label_tag 'address', 'Osoite' %>
<%= f.text_field :address %></p>

  <p>
    <%= f.submit "Tallenna" %>
  </p>
<% end %>	
</div>