<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Paikan tiedot: <%= @location.name %></h2></div></div></div>
<div class="border">
<div id="buttonbar">
	<%= link_to 'Muokkaa tietoja', edit_location_path(:id => @location), :class => 'icon icon_edit' if permitted_to? :manage, :locations %>
	<%= link_to 'Uusi paikka', new_location_path, :class => 'icon icon_add' if permitted_to? :manage, :locations %>
</div>

<%= crumbs %>

<p><strong>Osoite: </strong><%= @location.address %></p>
</div>