 <%= f.error_messages %>

  <p>
    <%= f.label :first_name, 'Etunimi' %>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :surname, 'Sukunimi' %>
    <%= f.text_field :surname %>
  </p>
  <p>
    <%= f.label :social_security_number, 'Sosiaaliturvatunnus' %>
    <%= f.text_field :social_security_number %>
  </p>
  <p>
    <%= f.label :email, 'Sähköposti' %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :address, 'Lähiosoite' %>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :postcode, 'Postinumero' %>
    <%= f.text_field :postcode %>
  </p>
  <p>
    <%= f.label :city, 'Postitoimipaikka' %>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :phone, 'Puhelin' %>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :tax_rate, 'Ennakonpidätysprosentti' %>
    <%= f.text_field :tax_rate %>
  </p>
  <p>
    <%= f.label :bank_account, 'Tilinumero' %>
    <%= f.text_field :bank_account %>
  </p>
  <p>
    <%= f.label :invitation_year, 'Kutsuttu tehtävään vuonna' %>
    <%= f.text_field :invitation_year %>
  </p>