<h2>Ulkoasut</h2>

<table>
  <tr>
    <th>Nimi</th>
    <th>Luontiaika</th>
    <th>Muokkausaika</th>
    <th colspan="3"></tH>
  </tr>

<% @layouts.each do |layout| %>
  <tr>
    <td><%=h layout.name %></td>
    <td><%=h layout.created_at %></td>
    <td><%=h layout.updated_at %></td>
    <td><%= link_to 'Näytä', layout_path(:id => layout) %></td>
    <td><%= link_to 'Muokkaa', edit_layout_path(:id => layout) %></td>
    <td><%= link_to 'Poista', layout_path(:id => layout), :confirm => 'Haluatko varmasti poistaa', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


